?.*

.asdf*
.kube
.terraform
.vscode

*.env
*.log
*.tfplan
*.tfvars
*.tfstate*

/.*.zip

/aws_auth.yaml
/flux/cluster-autoscaler/configmap-cluster-autoscaler-priority-expander.yaml
/flux/flux-system/ocirepository.yaml
